@import url('https://fonts.googleapis.com/css?family=Comfortaa:wght@500&display=swap');

body{
    font-family: 'Comfortaa', cursive;
}

.container{
    border: 1px solid black;

    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex-colors{
    border: 1px solid black;

    text-align: center;
}

.hex-colors h1{
    font-size: 2rem;
    text-transform: uppercase;
    animation: colorchange 5s infinite alternate;
}

.hex-colors h2{
    border: 1px solid black;
    font-size: 2 rem;
    margin-top: 15%;
}

@keyframes colorchange{
    0%{
        color: indigo;
    }
    20%{
        color: blue;
    }
    40%{
        color: green;
    }
    60%{
        color: yellow;
    }
    80%{
        color: orange;
    }
    100%{
        color: red;
    }
}